<div class="container">
	<div class="row">
		<div class="col-md-6 col-md-offset-3">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h4 style="border-bottom: 1px solid #c5c5c5;">
						<i class="glyphicon glyphicon-hdd">
						</i>
						Files on your disk
					</h4>
				</div>
				<div class="panel-body">
					<table class="table table-striped">
						<thead>
							<tr>
								<th>#</th>
								<th>Type</th>
								<th>Weight</th>
							</tr>
						</thead>

						<tbody>
							<% @reports.each do |report| %>
								<tr>
									<td><%= report[0] %></td>
									<td><%= report[1] %></td>
									<td><%= number_to_human_size(report[2], precision: 2) %></td>
								</tr>
							<% end %>
						</tbody>
					</table>
				</div>
				<div class="panel-footer">
					<div>
						Total: <%= number_to_human_size(@reports.sum {|item| item[2]}, precision: 2) %>
					</div>
					<div>
						Add. gravity: <%= number_to_human_size(@reports.sum {|item| item[3]}, precision: 2) %>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

